.page {
    position: relative;
}

.backgroundImageWrapper {
    position: relative;
    width: 100%;
    height: 100dvh;
    overflow: hidden;
    z-index: 0
}

.backgroundImage {
    filter: contrast(1.3) saturate(1.8);
    object-fit: cover;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.backgroundImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    mix-blend-mode: multiply;
    z-index: 2;
}

.header {

}